*{
    margin: 0;
    padding: 0;
}
body {
    font-family:'VT323', monospace;;
}

header h2 {
    font-size: 50px;
    text-align: center;
    margin-top: 4rem;
}

main.contents{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

main .gambar img{
    display: inline-block;
    width: 10rem;
}


#tombol {
    margin-bottom: 20px;
    margin-left: 10px;
}

#tombol button {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: aliceblue;
}

#tombol #incrementButton{
    background-color: rgb(53, 106, 138);
    transition: 0.3s;
    cursor: pointer;
}

#tombol #incrementButton:hover {
    background-color: lightskyblue;
    color: rgb(67, 67, 67);
}

#tombol #clear {
    cursor: pointer;
    background-color: red;
    transition: 0.3s;
}

#tombol #clear:hover{
    background-color: rgb(232, 115, 115);
    color: rgb(44, 44, 44);
}

#count {
    font-size: 9rem;
    text-align: center;
}
